<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca senha para a sua conta foi solicitada</p>
  <p>Clique no link abaixar para resetar a sua senha:</p>
  <p>
    <a href="{{link}}" >Resetar minha senha</a>
  </p>
  <p>Caso você não tenha solicitada o reset de senha, apenas descarte este email, sua conta continuará segura</p>
  <p><strong>Equipe GoBarber</strong></p>
</div>
